version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: payment-and-commission-platform
    restart: always

    ports:
      - "3005:3005"

    environment:
      NODE_ENV: production
      PORT: 3005
      HOSTNAME: 0.0.0.0
      HOST: 0.0.0.0
      TZ: America/Sao_Paulo
      APP_TIMEZONE: America/Sao_Paulo
      PUBLIC_HOST: http://82.25.66.17:3005
      NEXT_PUBLIC_SITE_URL: https://app.ari.com.br
      NEXT_TELEMETRY_DISABLED: "1"
      NEXT_USE_TURBOPACK: "0"
      DB_HOST: 201.76.177.134
      DB_DEBUG: ${DB_DEBUG:-false}
      DB_PORT: ${DB_PORT:-3306}
      DB_USER: ${DB_USER:-Indicadores}
      DB_PASSWORD: ${DB_PASSWORD:-xEth+vOHltr*c4Eju3+t}
      DB_NAME: ${DB_NAME:-indicadores}

    env_file:
      - .env

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3005/api/health || curl -f http://localhost:3005/ || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 4
      start_period: 25s

    labels:
      - "coolify.managed=true"
      - "coolify.service=app"

    networks:
      - app-network

networks:
  app-network:
    driver: bridge

